@charset "Shift_JIS";

/* --------------------------------------------
 *             for pseudoMenu.js
 * -------------------------------------------- */


/* =========== pseudo menu balloon =========== */

.iroha-pseudomenu {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	color: black;
	background: white;
	font-size: 100%;
	line-height: 1;
	text-decoration: none;
}

.iroha-pseudomenu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
}

.iroha-pseudomenu li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 100%;
	line-height: 1;
	outline: none;
	cursor: default;
}

.iroha-pseudomenu li.iroha-pseudomenu-highlighted-item {
	color: white;
	background: gray;
}

.iroha-pseudomenu li.iroha-pseudomenu-selected-item {
}



/* =========== pseudo select menu =========== */

.iroha-pseudoselectmenu {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 100%;
	white-space: nowrap;
	text-decoration: none;
}

.iroha-pseudoselectmenu-opened {
	z-index: 2;
}

iroha-pseudoselectmenu-disabled {
	opacity: 0.3;
	*filter: Alpha(opacity=30);
}

.iroha-pseudoselectmenu dt,
.iroha-pseudoselectmenu dd {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 100%;
	text-align: left;
}

.iroha-pseudoselectmenu dd {
	display: block;
}


/* ----- select menu button ----- */

.iroha-pseudoselectmenu dt a,
.iroha-pseudoselectmenu dt a:link,
.iroha-pseudoselectmenu dt a:visited,
.iroha-pseudoselectmenu dt a:hover,
.iroha-pseudoselectmenu dt a:active,
.iroha-pseudoselectmenu dt a:focus {
	overflow: hidden;
	display: inline-block;
	margin: 0;
	padding: 0 22px 0 5px;
	border: 1px solid #7f9db9;
	color: black;
	background-color: white;
	background-image: url(btn.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	line-height: 1.5;
	cursor: default;
}

.iroha-pseudoselectmenu dt a:hover {
	background-position: 100% -100px;
}

.iroha-pseudoselectmenu dt a:active {
	background-position: 100% -200px;
}


/* ----- select menu body ----- */

.iroha-pseudoselectmenu .iroha-pseudomenu {
	margin-top: -1px;
	border: 1px solid #7f9db9;
	max-height: 288px;
	overflow-y: auto;
	overflow-x: hidden;
}

.iroha-pseudoselectmenu .iroha-pseudomenu ul {
}

.iroha-pseudoselectmenu .iroha-pseudomenu li {
	padding: 0 22px 0 5px;
	line-height: 1.5;
	cursor: default;
}

.iroha-pseudoselectmenu .iroha-pseudomenu li.iroha-pseudomenu-highlighted-item {
	color: white;
	background: #4759fb;
}

.iroha-pseudoselectmenu .iroha-pseudomenu li.iroha-pseudomenu-selected-item {
}


