@charset "UTF-8";

/* --------------------------------------------
 *        styles for iroha.tabView.js
 * -------------------------------------------- */


/* =========== base block =========== */

.iroha-tabview {
}


/* ----- script enabled ----- */
/*
 *  - 'iroha-tabview-enabled' className will set to
 *     "base block" of the tabview by the script.
 */

.iroha-tabview-enabled {
}



/* =========== tabs =========== */

.iroha-tabview .iroha-tabview-tabs {
	display: none;
}


/* ----- script enabled ----- */

.iroha-tabview-enabled .iroha-tabview-tabs {
	display: block;
}

.iroha-tabview-discarded .iroha-tabview-tabs {
	display: none;
}


/* ----- for print ----- */

@media print {
	.iroha-tabview-enabled .iroha-tabview-tabs {
		display: none !important;
	}
}



/* =========== tab =========== */

.iroha-tabview .iroha-tabview-tabs .iroha-tabview-tab {
}

.iroha-tabview .iroha-tabview-tabs .iroha-tabview-tab a {
}


/* ----- script enabled ----- */
/*
 *  - 'iroha-tabview-tab-selected' className will set to
 *     "tab button" in selected page by the script.
 */

.iroha-tabview-enabled .iroha-tabview-tabs .iroha-tabview-tab {
}

.iroha-tabview-enabled .iroha-tabview-tabs .iroha-tabview-tab a {
}

.iroha-tabview-enabled .iroha-tabview-tabs .iroha-tabview-tab-selected {
	cursor: default;
}

.iroha-tabview-enabled .iroha-tabview-tabs .iroha-tabview-tab-selected a {
	cursor: default;
}


/* =========== pane =========== */
/*
 *  - 'padding' value must be in 'px' unit.
 *  - 'border-width' value must be in 'px' unit.
 *  - 'height' value will set by the script when 'heightFixed' is true.
 *     in that case, do not use '!important' to 'height' property.
 */

.iroha-tabview .iroha-tabview-pane {
}


/* ----- script enabled ----- */
/*
 *  - 'iroha-tabview-pane-selected' className will set to
 *     "pane block" in selected page by the script.
 */

.iroha-tabview-enabled .iroha-tabview-pane {
	display: none;
	overflow: hidden;
	*zoom: 1;
}

.iroha-tabview-enabled .iroha-tabview-pane-selected {
	display: block;
}


/* ----- for print ----- */

@media print {
	.iroha-tabview-enabled .iroha-tabview-pane {
		display: block;
		height: auto !important;
		min-height: 0;
	}
}
