@charset "UTF-8";

/* --------------------------------------------
 *          for iroha.throbber.js
 * -------------------------------------------- */

.iroha-throbber {
	position: absolute;
	z-index: 1000000;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 75px;
	height: auto;
	margin: 0;
	padding: 25px;
	border: 1px solid #ccc;
	background: #f9f9f9;
	text-align: center;
	line-height: 1;
	text-decoration: none;
	white-space: nowrap;
}

.iroha-throbber img {
	display: block;
	margin: 0 auto 0.5em;
	padding: 0;
	border: none;
}
