### /Users/kojika/.gitignore-boilerplates/Global/WebStorm.gitignore

# WebStorm project files - "WebStorm" http://www.jetbrains.com/webstorm/
.idea/


### /Users/kojika/.gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-project
*.sublime-workspace


