@charset "Shift_JIS";

#bajl-splash-balloon {
	z-index: 1000002;
	text-align: center;
	cursor: pointer;
	border-width: 1px;
	opacity: 0.8;
	filter: Alpha(opacity=80);
}

#bajl-splash-balloon h1,
#bajl-splash-balloon p {
	margin: 0;
	padding: 0;
	border: none;
	font-weight: bold;
	font-size: 14px;
}

#bajl-splash-balloon p {
	font-size: 10px;
	color: blue;
	text-decoration: underline;
	font-weight: normal;
}
