@charset "UTF-8";

/* --------------------------------------------
 *           for iroha.balloon.js
 * -------------------------------------------- */

/* ======== common balloon style ======== */

.iroha-balloon {
	position: absolute;
	z-index: 1000000;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 300px;
	height: auto;
	margin: 0;
	padding: 3px 5px;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #d6d6ad #858585 #858585 #d6d6ad;
	color: black;
	background: #ffffd6;
	font-size: 12px;
	line-height: 1.33;
	text-decoration: none;
}



/* =========== for print media =========== */

@media print {
	.iroha-balloon {
		dis\play: none !important;
	}
}


