@charset "UTF-8";

/* --------------------------------------------
 *   sample styles for iroha.carousel.js
 * -------------------------------------------- */



/* =========== base block =========== */

.iroha-carousel {
	width: 300px;
}



/* =========== canvas viewport =========== */

.iroha-carousel-viewport {
	width: 300px;
}



/* =========== slide units =========== */

.iroha-carousel-unit {
	width: 300px;
	margin-right: 10px !important;
}


/* ----- slide contents ----- */

.iroha-carousel-unit p {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
}

.iroha-carousel-unit p img {
	margin: 0 0 3px;
	padding: 0;
}



/* =========== slide control buttons =========== */

.iroha-carousel-btns {
	margin: 10px 0 0;
	padding: 3px 0 0;
	border-top: 1px solid #e2dcdb;
	text-align: center;
}


/* ----- slide control each buttons ----- */

.iroha-carousel-btns li {
	display: inline;
	margin: 0 0 0 0.5em;
	padding: 0;
	list-style-type: none;
}

.iroha-carousel-btns a,
.iroha-carousel-btns a:link,
.iroha-carousel-btns a:visited,
.iroha-carousel-btns a:hover,
.iroha-carousel-btns a:active,
.iroha-carousel-btns a:focus {
	color: #6e514c;
}

.iroha-carousel-btns li.iroha-carousel-selected a {
	font-weight: bold;
	text-decoration: none;
}

.iroha-carousel-btns .iroha-carousel-prev-btn a {
	padding-left: 10px;
	background: url(icon_prev.png) left center no-repeat;
}

.iroha-carousel-btns .iroha-carousel-next-btn a {
	padding-right: 10px;
	background: url(icon_next.png) right center no-repeat;
}

.iroha-carousel-btns .iroha-carousel-prev-btn.iroha-carousel-disabled a {
	color: #d3cac9;
	background-image: url(icon_prev_d.png);
	text-decoration: none;
}

.iroha-carousel-btns .iroha-carousel-next-btn.iroha-carousel-disabled a {
	color: #d3cac9;
	background-image: url(icon_next_d.png);
	text-decoration: none;
}



