@charset "UTF-8";

/* --------------------------------------------
 *       style for iroha.inputPrompt.js
 * -------------------------------------------- */



/* ----- デフォルト（案内テキスト展開状態） ----- */

.iroha-inputprompt {
	color: #999;
	background-color: white;
	border-color: darkGray;
}


/* ----- 任意の文字列が入力された後の状態 ----- */

.iroha-inputprompt-changed {
	color: black;
	background-color: #f9f9f9;
	border-color: gray;
}


/* ----- フォーカスが当たっている時 ----- */

.iroha-inputprompt-focus {
	color: black;
	background-color: #f7ffff;
	border-color: #67b8e1;
}


/* ----- 案内テキストを別要素で表示している場合 ----- */

.iroha-inputprompt + .iroha-inputprompt-prompt {
	position: absolute;
	display: block;
	margin: -1.7em 0 0;
	padding: 2px;
	color: #999;
	text-decoration: none;
}
