@charset "Shift_JIS";

/* =========== base structure =========== */

html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: 0 5% 1em;
	_margin: 0 5% 1em;  /* ~WinIE6 */
	_padding: 0;        /* ~WinIE6 */
	color: black;
	background-color: white;
	font-size: 12px;
	*font-size: 75%;
	text-align: left;
	
	font-family: "Tahoma", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Osaka", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
	_font-family: "‚l‚r ‚oƒSƒVƒbƒN", sans-serif; /* ~WinIE6 */
}

address {
	margin: 5em 0 0;
	padding: 0.4em 0 0;
	border-top: 2px solid gray;
	text-align: right;
	font-style: normal;
}


/* =========== block elements =========== */

/* ----- headings ----- */

h1 {
	margin: 1em 0 0;
	padding: 0.5em 0.2em;
	border: 1px solid;
	font-size: 150%;
	text-align: center;
}

h2 {
	margin: 3em 0 1em;
	padding: 0 0 0.2em;
	border-bottom: 2px dotted gray;
	font-size: 120%;
	*zoom: 1;
}

h3 {
	margin: 2em 0 1em 1.5em;
	padding: 0 0 0 0.5em;
	border-left: 0.8em solid gray;
	font-size: 100%;
}

h4 {
	margin: 1.5em 0 1em 3em;
	font-size: 100%;
}

/* ----- content elements ----- */

div,
ul,
ol,
dl,
p,
pre,
table,
form {
	margin: 1em 0 1em 4em;
	padding: 0;
	line-height: 1.3;
}

div {
	line-height: 1;
}

p {
	line-height: 1.33;
}

pre {
	width: auto;
	padding: 16px;
	border: 1px solid #999;
	background: #f5f5f5;
	font-family: monospace;
	font-size: inherit;
	line-height: 1.33;
}

table {
	border-collapse: collapse;
	border: 1px solid gray;
}

th,
td {
	border: 1px solid gray;
	padding: 0.25em 1em;
	text-align: left;
}

th {
	border-bottom: 3px double gray;
}

ul,
ol {
	padding-left: 2em;
}

li {
	margin-bottom: 0.25em;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-left: 0;
}

dl {
	margin-top: 0;
}

dt {
	margin: 1em 0 0;
	font-weight: bold;
}

dt:before {
	content: "\30FB ";
}

dd {
	margin: 0.25em 0 0.5em 3em;
}

dd dl,
dd p,
dd pre,
dd table {
	margin-left: 0;
}

dd p {
	margin-top: 0;
	margin-bottom: 0.5em;
}



dd ul,
dd ol {
	margin: 0;
}

dd ul ul {
	margin: 0 0 0 1em; 
}


/* =========== inline elements =========== */

a {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: purple;
}

img,
a img {
	border: none;
}

em {
	color: red;
	font-weight: normal;
	font-style: normal;
}

strong {
	color: red;
	font-weight: bold;
	font-style: normal;
}

pre em {
	font-weight: normal;
}

pre strong {
	font-weight: normal;
	border-bottom: 1px dashed;
}

code,
kbd,
samp,
var {
	font-size: inherit;
}

code {
	color: green;
	font-family: monospace;
}

kbd {
	margin: 0 0.1em;
	padding: 0.1em 0.3em;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-color: #fefefe #aaaaaa #aaaaaa #fefefe;
	color: #333;
	background-color: #f7f7f7;
	font-weight: bold;
}

samp {
	
}

var {
	color: green;
	font-style: normal;
	font-family: monospace;
}

dfn {
	font-style: italic;
}

p dfn {
	font-weight: bold;
}

code dfn {
	font-weight: inherit;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
h1 var,
h2 var,
h3 var,
h4 var,
h5 var,
h6 var {
	color: black;
}


/* =========== classes =========== */

body .example {
	width: auto;
	padding: 5px;
	border: 1px solid #999;
	background: #f5f5f5;
}

body .example div,
body .example ul,
body .example ol,
body .example dl,
body .example p,
body .example pre,
body .example table,
body .example form {
	margin-left: 1em;
}

div.picture {
	text-align: center;
}

div.firebugHighlight,
div.firebugLayoutBox {
	margin: 0 !important;
}

table.parameters {
	border-collapse: collapse;
}

table.parameters th {
	white-space: nowrap;
}

span.info {
	margin-left: 1em;
	font-size: 90%;
	font-weight: normal;
}

pre span.optional {
	opacity: 0.3;
	filter: Alpha(opacity=30);
}
pre span.optional:after {
	margin: 0 0 0 0.5em;
	content: "<!-- •K—v‚Èê‡ -->"
}


/* =========== fragment ids =========== */

#to-index {
	display: block;
	list-style: none;
	margin: 0 0 -1.5em;
	padding: 0;
	font-size: 83%;
	text-align: right;
	line-height: 1.5;
	white-space: nowrap;
}

