@charset "UTF-8";

/* --------------------------------------------
 *        styles for iroha.crossfader.js
 * -------------------------------------------- */


/* =========== base block =========== */

.iroha-crossfader {
}


/* =========== content group block =========== */

.iroha-crossfader-group {
	margin: 0;
	padding: 0;
}

/* ----- script enabled ----- */

.iroha-crossfader-enabled   .iroha-crossfader-group {
	position: relative;
	overflow: hidden;
}

.iroha-crossfader-discarded .iroha-crossfader-group {
}


/* ----- for print ----- */

@media print {
	.iroha-crossfader-enabled   .iroha-crossfader-group,
	.iroha-crossfader-discarded .iroha-crossfader-group {
		position: static;
		overflow: visible;
	}
}



/* =========== content units =========== */

.iroha-crossfader-unit {
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px dotted #ccc;
}

/* ----- script enabled ----- */

.iroha-crossfader-enabled   .iroha-crossfader-unit {
	position: absolute;
	z-index: 1;  /* controlled by js */
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: none;
}

.iroha-crossfader-discarded .iroha-crossfader-unit {
	position: static;
	margin: 0;
	padding: 0;
	border: none;
}


/* ----- for print ----- */

@media print {
	.iroha-crossfader-enabled   .iroha-crossfader-unit,
	.iroha-crossfader-discarded .iroha-crossfader-unit {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px dotted #ccc;
	}
}



/* =========== crossfade control buttons =========== */

.iroha-crossfader-btns {
	display: none;
}

/* ----- script enabled ----- */

.iroha-crossfader-enabled   .iroha-crossfader-btns {
	display: block;
}

.iroha-crossfader-discarded .iroha-crossfader-btns {
	display: none;
}


/* ----- for print ----- */

@media print {
	.iroha-crossfader-enabled .iroha-crossfader-btns {
		display: none;
	}
}


/* =========== crossfader control each buttons =========== */

.iroha-crossfader-btns a,
.iroha-crossfader-btns a:link,
.iroha-crossfader-btns a:visited,
.iroha-crossfader-btns a:hover,
.iroha-crossfader-btns a:active,
.iroha-crossfader-btns a:focus {
	cursor: pointer;
}

.iroha-crossfader-btns .iroha-crossfader-select-btn {
}

.iroha-crossfader-btns .iroha-crossfader-select-btn a {
}

.iroha-crossfader-btns .iroha-crossfader-select-btn a.iroha-crossfader-selected {
	cursor: default;
}

.iroha-crossfader-btns .iroha-crossfader-prev-btn {
}

.iroha-crossfader-btns .iroha-crossfader-prev-btn a {
}

.iroha-crossfader-btns .iroha-crossfader-prev-btn a.iroha-crossfader-disabled {
	cursor: default;
}

.iroha-crossfader-btns .iroha-crossfader-next-btn {
}

.iroha-crossfader-btns .iroha-crossfader-next-btn a {
}

.iroha-crossfader-btns .iroha-crossfader-next-btn a.iroha-crossfader-disabled {
	cursor: default;
}
