@charset "UTF-8";

/* --------------------------------------------
 *       styles for iroha.carousel.js
 * -------------------------------------------- */


/* =========== base block =========== */

.iroha-carousel {
}


/* ----- script enabled ----- */

.iroha-carousel-discarded,
.iroha-carousel-enabled {
}


/* =========== canvas viewport =========== */

.iroha-carousel-viewport {
//	width: XXXpx;
//	height: XXXpx;
	margin: 0;
	padding: 0;
	
	// ----- script enabled -----
	
	.iroha-carousel-discarded &,
	.iroha-carousel-enabled   & {
	    overflow: hidden;
	    overflow-x: hidden;
	    overflow-y: hidden;
	}
	
	// ----- for print ----- 
	
	@media print {
		.iroha-carousel-discarded &,
		.iroha-carousel-enabled   & {
			overflow: visible !important;
			overflow-x: visible !important;
			overflow-y: visible !important;
			height: auto !important;
			min-height: 0 !important;
		}
	}
}



/* =========== content group block =========== */

.iroha-carousel-group {
	margin: 0;
	padding: 0;
	*zoom: 1;     /* clear float, ~WinIE7 */

	&:after {
		clear: both;
		display: block;
		content: "";
	}
	
	// ----- script enabled -----
	
	.iroha-carousel-discarded &,
	.iroha-carousel-enabled   & {
		width: 10000000px !important;
	}

	// ----- for print -----
	
	@media print {
		.iroha-carousel-discarded &,
		.iroha-carousel-enabled   & {
			width: auto !important;
			height: auto !important;
			min-height: 0 !important;
		}
	}
}



/* =========== slide units =========== */

.iroha-carousel-unit {
//	width: XXXpx;
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px dotted #ccc;

	// ----- script enabled -----
	
	.iroha-carousel-discarded &,
	.iroha-carousel-enabled   & {
		float: left;
		margin: 0;
		padding: 0;
		border: none;
	}

	// ----- currently scrolling -----
	
	.iroha-carousel-enabled & {
		visibility: hidden;
	}
	
	.iroha-carousel-scrolling &,
	.iroha-carousel-enabled   &.iroha-carousel-selected {
		visibility: visible;
	}

	// ----- for print -----
	
	@media print {
		.iroha-carousel-discarded &,
		.iroha-carousel-enabled   & {
			float: none !important;
			visibility: visible !important;
			margin-bottom: 1em !important;
			padding-bottom: 1em !important;
			border-bottom: 1px dotted #ccc !important;
		}
	}
}


/* =========== slide control buttons =========== */

.iroha-carousel-btns {
	display: none;

	// ----- script enabled -----
	
	.iroha-carousel-enabled & {
		display: block;
	}

	// ----- for print -----
	
	@media print {
		.iroha-carousel-enabled & {
			display: none !important;
		}
	}
}


/* =========== slide control each buttons =========== */

.iroha-carousel-btns {
	a,
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		cursor: pointer;
	}

	a.iroha-carousel-selected,
	*.iroha-carousel-selected a,
	a.iroha-carousel-disabled,
	*.iroha-carousel-disabled a {
		cursor: default !important;
	}
	
	.iroha-carousel-select-btn {
	}
	
	.iroha-carousel-prev-btn {
	}
	
	.iroha-carousel-next-btn {
	}
}


