@charset "UTF-8";


div.example {
}

div.example p {
}

input,
textarea {
	width: 50%;
	padding: 2px;
	border: 1px solid;
	color: black;
	background-color: white;
	font-size: 100%;
}

.iroha-inputprompt + .iroha-inputprompt-prompt {
	position: absolute;
	display: block;
	margin: -1.7em 0 0;
	padding: 3px;
	color: #c0c0c0;
	text-decoration: none;
}
