@charset "UTF-8";

/* -----------------------------------------------------------------
 *      Iroha : Iroha.Console
 * ----------------------------------------------------------------- */


.iroha-console {
	position: fixed;
	z-index: 10000000;
	left: 0px;
	bottom: 0px;
	min-width: 50%;
	max-width: 100%;
	max-height: 50%;
	overflow: auto;
	margin: 0;
	padding: 0 0.2em 0.2em;
	background: rgba(255,255,230,0.95);
	font: 11px/1.1 monospace;
	@include iroha-white-space(pre-wrap);
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none;

	// 表示状態
	&--shown {

	}

	// 非表示状態
	&---hidden {
		visibility: hidden;
		left: -10000px;
		top: -10000px;
	}

	// ログ行
	&__log {
		display: block;
		margin: 0.1em 0 0;
		padding: 0;

		&--info {
			color: rgb(50, 50, 200);
		}
		&--warn {
			color: rgb(200, 80, 0);
		}
		&--error {
			color: red;
		}
	}
}
