@charset "UTF-8";
@import "iroha.symbols";

/* -----------------------------------------------------------------
 *      styles for Iroha.Console
 * ----------------------------------------------------------------- */


.iroha-console {
	position: fixed;
	z-index: 10000000;
	left: 0px;
	bottom: 0px;
	min-width: 50%;
	max-width: 100%;
	max-height: 50%;
	overflow: auto;
	margin: 0;
	padding: 0 0.2em 0.2em;
	background: rgba(255,255,230,0.95);
	font: 11px/1 monospace;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none;

	// 各行
	& > * {
		display: block;
		margin: 0.2em 0 0;
		padding: 0;
	}

	// 表示状態
	&.iroha-console-is-shown {

	}

	// 非表示状態
	&.iroha-console-is-hidden {
		visibility: hidden;
		left: -10000px;
		top: -10000px;
	}
}
